.about_section {
    background-color: var(--main-blue);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.about_section::before {
    content: "Ordraty";
    position: absolute;
    bottom: -20px;
    right: -20px;
    font-size: 150px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.02);
    z-index: 0;
}
.about_section .img-box {
    position: relative;
    z-index: 1;
    padding: 15px;
}
.about_section .img-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 80%;
    border: 5px solid var(--main-red);
    border-radius: 20px;
    z-index: -1;
    transition: all 0.5s ease;
}
.about_section .img-box:hover::after {
    width: 100%;
    height: 100%;
}
.about_section .img-box img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
    filter: grayscale(20%); 
    transition: all 0.5s ease;
}
.about_section .img-box:hover img {
    filter: grayscale(0%);
    transform: translateY(-10px);
}
.about_section .detail-box {
    z-index: 1;
    position: relative;
}
.about_section .section-title {
    color: #ffffff;
    font-size: 2.8rem;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}
.about_section .section-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 60px;
    height: 4px;
    background: var(--main-red);
    border-radius: 2px;
}
.about_section .detail-box p {
    font-size: 1.1rem;
    color: #d1d9e6;
    line-height: 2;
    text-align: justify;
    margin-bottom: 35px;
}
.about_section .detail-box a {
    margin-top: 25px;
    padding: 12px 50px;
    background: var(--main-red);
    border: 2px solid var(--main-red);
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: 0.4s;
    box-shadow: 0 10px 20px rgba(219, 45, 46, 0.2);
    color: #ffffff;
}
.about_section .detail-box a:hover {
    background: transparent;
    color: #ffffff !important;
    border-color: #ffffff;
    box-shadow: none;
    transform: scale(1.05);
}