@import url("https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap");

* {
  list-style: none;
}
body {
  font-family: "Zain", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  text-align: -webkit-auto;
}
.user_option .order_online {
  background-color: var(--main-red);
  color: var(--white) !important;
  padding: 8px 25px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid transparent;
}
.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--main-blue);
  margin-bottom: 50px;
}
.section-subtitle {
  text-align: center;
  color: #666;
  margin-top: -40px;
  margin-bottom: 50px;
  font-size: 1.1rem;
}
.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--main-red);
  margin: 15px auto 0;
  border-radius: 10px;
}
.order_online:hover {
  background-color: transparent;
  color: var(--main-red) !important;
  border-color: var(--main-red);
}
.layout_padding {
  padding: 90px 0;
}
.layout_padding2 {
  padding: 75px 0;
}
.layout_padding2-top {
  padding-top: 75px;
}
.layout_padding2-bottom {
  padding-bottom: 75px;
}
.layout_padding-top {
  padding-top: 90px;
}
.layout_padding-bottom {
  padding-bottom: 90px;
}
h1,
h2 {
  font-family: "Zain", cursive;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.heading_container h2 span {
  color: #db2d2e;
}
.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}
.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a:hover,
a:focus {
  color: initial;
}
.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
